
.row{
    width: 60%;
    height: 800px ;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
 

}

button a{
    text-decoration: none;
    color: black;
}



h1{
 font-family: "Bell MT";
  
}

.btn{
    background-color:; }

.container{
    justify-content: center;
    display: flex;
}
