h1{
    text-align: center;
}


.card-container {
    width: 1020px;
    height: 300px;
    perspective: 1000px;
   float: center;
    display: flex;
  }
  
img{
     height: 300px;
    width: 230px;
}

p{
   font-size: 14px;
    color: black;
}
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
      float: left;
      
  }

  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
    border: 2px solid #333;
         background: rgb(30,202,219);
background: radial-gradient(circle, rgba(30,202,219,1) 0%, rgba(237,255,254,1) 100%);;
     
  }
  
  .card-back {
    transform: rotateY(180deg);
   background: radial-gradient(circle, rgba(55,237,255,1) 0%, rgba(237,255,254,1) 100%);
      float: left;
      float: left;
     
  }